<h1>Shelter: <%= @shelter.name %></h1>

<h2>Address:</h2>
<h2><%= @shelter.address %></h2>
<h2><%= @shelter.city %>, <%= @shelter.state %></h2>
<h2><%= @shelter.zip %></h2>

<a href="/shelters/<%=@shelter.id%>/edit"> Update Shelter</a>
